.navbar {
  min-height: 80px;
}

.bg-alt {
  background-color: $primary-green;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: white;
    }
  }
}

.navbar-toggler-icon {
  color: white;
}

