.navbar {
  font-size: 9px;
  .navbar-brand {
    font-size: 10px;
  }
}

.bg-alt {
  background-color: $primary-green;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: white;
    }
  }
}

.navbar-toggler-icon {
  color: white;
}

