// thin banner //

.banner-thin {
  line-height: 13px;
  text-align: center;
  ul {
    padding-bottom: 2px;
    margin-bottom: 0;
    li {
      display: inline;
      font-size: 0.45em;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 768px) {
 .banner-thin {
   display: none;
 }
}



//  four-block //

.four-block {
  img{
    margin-top: 15px;
  }
}

// map //

#map {
  width: 100%;
  height: 300px;
  margin-top: 15px;
  margin-bottom: -5px;
  border:none;
}

// 3 block info section //

.box3 {
  height: 300px;
  color: #fff;
  text-align: center;
  margin-top: 15px;
  .inner {
    background-color: $primary-green;
    margin: 0 1px 20px 1px;
    height: 100%;
      }
    }

// footer //

.footer-nav {
  text-align: center;
  li {
    display: inline;
    a{
      display: inline;
    }
   }
  }

// info box section //

.info {
    margin-top: 5px;
  h3 {
    padding: 20px 0px;
    }
  a {
    color: #fff;
    }
  ul {
    list-style-type: none;
    padding: 0;
   }
  }

.description {

  text-align: center;
  color: $primary-green;

  .description-text {

    margin-top: 25px;
  }
  p {

    padding: 25px;
  }
  .activities {
    li {
      list-style-type: none;
    }
  }
}

footer {
  background-color: $primary-green;
  font-size: 8px;
  padding: 5px;
  margin-top: 35px;
  .footer-nav {
  a {
    padding: 5px;
    color: #fff;
  }
  }
}
