// thin banner //

.banner-thin {
  background-color: #fff;
  text-align: center;
  ul {
    padding: 4px;
    margin-bottom: 0;
    li {
      display: inline;
      margin: 0 10px;
      svg {
        margin-right: 3px;
      }
    }
  }
}

// hero //

.hero {

  background-image:
          linear-gradient(rgba(21, 71, 52, 0.8), rgba(21, 71, 52, 0.5)),
          url("/images/front.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  width: 100%;

}